{% extends 'base.html' %}

{% block content %}



<table class="table">
{% for article in articles %}

 {% if forloop.counter == 1 %}
  <thead>
    <tr>
      <th scope="col">{{article.0}}</th>
      <th scope="col">{{article.1}}</th>
      <th scope="col">{{article.2}}</th>
      <th scope="col">{{article.3}}</th>
    </tr>
  </thead>

  <tbody>
{% else %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{article.0}}</td>
      <td>{{article.1}}</td>
      <td>{{article.2}}</td>
    </tr>
{% endif %}
  </tbody>
{% endfor %}
</table>


{% endblock %}