<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram {% block title %}{% endblock %} </title>
    {% block css %}
    {% endblock %}
    {% bootstrap_css %}
</head>
<body>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{% endif %}" role=alert>{{ message }}</li>
        {% endfor %}
    </div>
    {% endif %}

<!-- Template을 포함 (include) 시키기! 가독성을 높이자!-->
{% include '_nav.html'%}


<div class="container m-auto pt-3">

    {% block content %}
    {% endblock %}
</div>

{% if request.resolver_match.url_name == 'signin' or request.resolver_match.url_name == 'signup'%}

{% else %}
    <p class='m-auto pl-5 pt-4 w-75'>
        <a href="{% url 'posts:index' %}" class="text-primary ml-3 mr-3"><strong>Posts</strong></a> 
        <a href="{% url 'accounts:index' %}" class="text-warning"><strong>User List</strong></a> 
    </p>
{% endif %}
    {% bootstrap_javascript jquery='full'%}
</body>
</html>