<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lunch menu!</title>
    <style>
        div {
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
    <p>Got lunch menu suggestion for you</p>
    <p> => {{menu}}</p>

    <br>
    <p>Options you have</p>
    {% for option in options %}
       <p>{{option}}</p>
    {% endfor %}
    </div>

</body>
</html>