{% extends 'base.html' %}

{% block content %}


<div class="card" style="width: 18rem;">
<h1>{{user.username}}'s Profile</h1>
  <div class="card-body">
    <p class="mt-4">First name: <strong>{{user.first_name}}</strong></p>
    <p>Last name: <strong>{{user.last_name}}</strong></p>
    <p>Email: <strong>{{user.email}}</strong></p>
  </div>
</div>

{% if request.user == user %}

    <a href="{% url 'accounts:update' %}" class="btn btn-warning text-white">Edit Profile</a>
    <form action="{% url 'accounts:delete'%}" method="POST" class="d-inline">
        {% csrf_token %}
        <button class="btn btn-danger"> Delete account</button>
    </form>

{% else %}
    {% with user_followers as user.followers.all %}
      <a href="{% url 'accounts:follow' user.pk %}" class="btn btn-success">
      {% if request.user in user_followers %}
        Unfollow
      {% else %}
        Follow
      {% endif %}  
      </a>
    {% endwith %}
{% endif %}
    <p>{{ user_followers|length}} followers</p>
    <p>You're following {{ user.followings.count}}</p>
<br>
<br>
<hr>
<h3>Your Posts</h3>

{% for post in user.post_set.all %}
  <a href="{% url 'posts:detail' post.pk%}">
    <p>{{post.title}}</p>
  </a>
{% endfor %}
<br>
<h3>Liked Posts</h3>

{% for post in user.like_aposts.all %}
  <a href="{% url 'posts:detail' apost.pk%}">
    <p>{{post.title}}</p>
  </a>
{% endfor %}

{% endblock  %}
