{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    Post #{{post.pk}}
{% endblock  %}

{% block content %}
    <h1> #{{post.pk}} {{post.title}}</h1>
    <p>Creation Time: {{post.created_at}}</p>
    <p>Last Modified Time: {{post.updated_at}}</p>
    <hr>
    <p> {{post.content}} </p>

    {% if post.user == request.user %}
        <a class="btn btn-warning mt-3 mr-1" href="{% url 'posts:update' post.pk %}">Edit</a>
    <form action="{% url 'posts:delete' post.pk %}" class="d-inline" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger mt-3">Delete</button>
    </form>

    {% endif %}

    <br>
    <hr>
    <h4>Comments | <small>({{post.comments.count}})</small></h4>
    {% for comment in post.comments.all %}
        <p> <strong>{{comment.user}}</strong> : {{comment.content}}</p>
    {% endfor %}
    <br>
    <hr>
        <form action="{% url 'posts:comments_create' post.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary">Add comment</button>
    </form>

{% endblock  %}