{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    Post #{{post.pk}}
{% endblock  %}

{% block content %}
    <h1> #{{post.pk}} {{post.title}}</h1>
    <p>Creation Time: {{post.created_at}}</p>
    <p>Last Modified Time: {{post.updated_at}}</p>
    <hr>

    <!--with 사용해서 caching하기-->
    {% with post_like_users=post.like_users.all %}
        <a href="{% url 'posts:like' post.pk %}">
        {% if request.user in post_like_users %}
            <i class="fas fa-heart fa-lg text-danger"></i>
        {% else %}
            <i class="far fa-heart fa-lg text-danger animated infinite bounce delay-1s"></i>
        {% endif %}
        </a>

    <!-- <p>{{post.like_users.count}} likes</p> -->
        <p>{{post_like_users|length}} likes</p>
    {% endwith %}


    {% if post.user == request.user %}
        <a class="btn btn-warning mt-3 mr-1" href="{% url 'posts:update' post.pk %}">Edit</a>
    <form action="{% url 'posts:delete' post.pk %}" class="d-inline" method="POST">
        {% csrf_token %}
        <button class="btn btn-danger mt-3">Delete</button>
    </form>
    {% endif %}

    <p> {{post.content}} </p>
    <!--image 출력용-->
    <img src="{{post.image.url}}"/>
    <img src="{{post.image_thumbnail.url}}"/>



    <br>
    <hr>
    <h4>Comments | <small>({{post.comments.count}})</small></h4>
    {% for comment in post.comments.all %}
        <p> <strong>{{comment.user}}</strong> : {{comment.content}}</p>
    {% endfor %}
    <br>
    <hr>
        <form action="{% url 'posts:comments_create' post.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary">Add comment</button>
    </form>

{% endblock  %}