{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
New Post
{% endblock  %}

{% block content %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<!--
    분기의 기준은 url_name 이다!
    path로 하면 url이 바뀔따마다 바꿔줘야함..! (불-편)
-->
<div class="mb-5">
{% if request.resolver_match.url_name == 'create' %}
    <h2>Add Post</h2>
{% else %}
    <h2>Edit Post</h2>
{% endif %}
</div>
    <form action="" method="POST">
    {% csrf_token %}

    <!--bootstrap4 활용하긔-->
    {% bootstrap_form form %}

    <!--button은 input type:submit과 같은 역할을 한다!-->
    <button class="btn btn-success">Save</button>
    </form>

{% endblock  %}