{% extends 'base.html' %}

{% block content %}

<p class="float-right mt-3 mb-4"><a href="/articles/new/" class="btn btn-primary">Add post</a></p>

<h2 class="mt-3 mb-4">Posts</h2>

{% for article in articles reversed%}
<div class="card text-white bg-dark my-2 w-100">
  <div class="card-header d-flex justify-content-between"><h4>{{article.title}}</h4> <p class="mb-0 pt-1">{{article.created_at|date:'Y-m-d H:i'}}</p></div>
  <div class="card-body">
    <p class="card-title">{{article.content}}</p>
  </div>
</div>

{% empty %}
<h4 class="mt-4 text-center">We are sorry!</h4>
<p class="text-center">There's no post</p>

{% endfor %}

{% endblock %}