<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dinner time y'all! </title>
    <style>
        fieldset {
            margin: 0 auto;
            margin-top: 50px;
            text-align: center;
            width: 50%;
        }
    </style>
</head>
<body>
    <fieldset>
        <legend> 저녁 메뉴 </legend>
        <p> 저녁 먹을 사람?! {{num}} 명 </p>
        <p> 어떤 메뉴?!  {{ menu}} </p>
    </fieldset>

</body>
</html>